*{
    margin:0;
    padding:0;
}

/*header*/

/*logo*/
#logo{
    width: 25%;
    float: left;
    font-size: 3vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
   /* border:2px solid black;*/
    margin-left: 4%;
    margin-top:2%;
}

/*menu and navbar */
#menu{
    width:70%;
    float: right;
    text-align: right;
    /*border:2px solid black;*/
    font-size: 2vw;
    margin-top:2%;
}
#menu ul{
    margin-right: 5%;
}
#menu ul li{
    display: inline-block;
    width: 20%;
}